@model IEnumerable<BioEasy.Data.Entities.Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<h1>Usuários</h1>

<p>
    <a class="btn btn-primary btn-md" asp-action="Create">Criar Novo Usuário</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por nome: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a class="btn btn-default" asp-action="Index">Limpar Filtros</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimeiroAcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginDataAte)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimeiroAcesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginDataAte)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" title="Editar" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
                <a class="btn btn-primary btn-sm" title="Detalhes" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-table" aria-hidden="true"></i></a>
                <a class="btn btn-primary btn-sm" title="Excluir" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
