@model IEnumerable<BioEasy.Data.Entities.Paciente>

@{
    ViewData["Title"] = "Pacientes e Alunos";
}

<h1>Pacientes e Alunos</h1>

<p>
    <a class="btn btn-primary btn-md" asp-action="Create">Criar Paciente/Aluno</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por nome: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-primary" /> 
            <a class="btn btn-default" asp-action="Index">Limpar Filtros</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" title="Editar" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
                <a class="btn btn-primary btn-sm" title="Detalhes" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-table" aria-hidden="true"></i></a>
                <a class="btn btn-primary btn-sm" title="Excluir" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <a class="btn btn-primary btn-sm" title="Análise de Bioimpendancia" asp-controller="HistoricoPacientes" asp-action="Index" asp-route-id="@item.Id"><i class="fa fa-balance-scale" aria-hidden="true"></i></a>
                <a class="btn btn-primary btn-sm" title="Análise Laboratorial" asp-controller="AnaliseLaboratorial" asp-action="Index" asp-route-id="@item.Id"><i class="fa fa-flask" aria-hidden="true"></i></a>
                <a class="btn btn-primary btn-sm" title="Relatorios" asp-controller="Relatorios" asp-action="Index" asp-route-id="@item.Id"><i class="fa fa-file" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
